@import './variables';
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    line-height: 1.5;
    position: relative;
}

html {
    font-family: 'Overpass', sans-serif;
    font-size: 62.5%;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    color: $black-color;
}

li {
    list-style-type: none;
}

img {
    width: 100%;
    display: block;
}

button {
    outline: none;
    cursor: pointer;
}

.resize-animation-stopper * {
    animation: none !important;
    transition: none !important;
}