//  colors
$emperor-color: #534a4b;
$brown-color: #cc876e;
$black-color: #000000;
$white-color: #ffffff;
$white-smoke-color: #f1f1f1;
$gray-color: #e0e0e0e0;
//  transition
$transition: all 0.5s ease-in-out;